@model ishop.Models.IshopSystemUser

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Create</h2>

<h4>IshopSystemUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSystemUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuUsername" class="control-label"></label>
                <input asp-for="SuUsername" class="form-control" />
                <span asp-validation-for="SuUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuPassword" class="control-label"></label>
                <input asp-for="SuPassword" class="form-control" />
                <span asp-validation-for="SuPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="SuStatus" /> @Html.DisplayNameFor(model => model.SuStatus)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SuEmail" class="control-label"></label>
                <input asp-for="SuEmail" class="form-control" />
                <span asp-validation-for="SuEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuProfilePic" class="control-label"></label>
                <input asp-for="SuProfilePic" class="form-control" />
                <span asp-validation-for="SuProfilePic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuRole" class="control-label"></label>
                <input asp-for="SuRole" class="form-control" />
                <span asp-validation-for="SuRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddedDate" class="control-label"></label>
                <input asp-for="AddedDate" class="form-control" />
                <span asp-validation-for="AddedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddedBy" class="control-label"></label>
                <input asp-for="AddedBy" class="form-control" />
                <span asp-validation-for="AddedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extra" class="control-label"></label>
                <input asp-for="Extra" class="form-control" />
                <span asp-validation-for="Extra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexSystemUser">Back to List</a>
</div>

