@model ishop.Models.IshopProduct

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!-- Select2 -->
<link rel="stylesheet" href="~/Dashboard/bower_components/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="~/Dashboard/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">


<section class="content-header">
    <h1>
        Products
        <small class="text-bold text-success">3</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a asp-action="IndexProduct">Products</a></li>
        <li class="active">Create new Product</li>
    </ol>
</section>

<section class="content">
    <div class="row">

        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Create Product
                    </h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        @if (ViewBag.messageError != null) {
                            <h3 class="alert alert-warning text-center">@ViewBag.messageError</h3>
                        }
                        <form asp-action="CreateProduct" method="post" enctype="multipart/form-data">
                            <!-- Custom Tabs -->
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab">Product Data</a></li>
                                    <li><a href="#tab_2" data-toggle="tab">Image gallery</a></li>
                                    <li><a href="#tab_3" data-toggle="tab">Product Varient</a></li>
                                    <li class="pull-right"><button type="submit" class="btn btn-success">Save Product</button></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <div class="col-md-9">
                                            <div class="row">

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-products-product_name required">
                                                            <label class="control-label" asp-for="ProdName"></label>
                                                            <input type="text" asp-for="ProdName" class="form-control" maxlength="255" aria-required="true">
                                                            <span asp-validation-for="ProdName" class="text-danger"></span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-products-product_name required">
                                                            <label class="control-label" asp-for="ItemCode"></label>
                                                            <input type="text" asp-for="ItemCode" class="form-control" maxlength="255" aria-required="true">
                                                            <span asp-validation-for="ItemCode" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-products-product_name required">
                                                            <label class="control-label" asp-for="ProdPermalink"></label>
                                                            <input type="text" asp-for="ProdPermalink" class="form-control" maxlength="255" aria-required="true">
                                                            <span asp-validation-for="ProdPermalink" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-editor1">
                                                            <label class="control-label" asp-for="ProdDetail">Product Description</label>
                                                            <textarea asp-for="ProdDetail" rows="10" cols="80">
                                                                Product short Description
                                                        </textarea>
                                                            <span asp-validation-for="ProdDetail" class="text-danger"></span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-editor2">
                                                            <label class="control-label" asp-for="ProdShortDetail">Product Short Features</label>
                                                            <textarea asp-for="ProdShortDetail" rows="10" cols="80">
                                                                Product short Description
                                                        </textarea>
                                                            <span asp-validation-for="ProdShortDetail" class="text-danger"></span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-products-meta_title required">
                                                            <label class="control-label" asp-for="ProdKeywords"></label>
                                                            <input type="text" asp-for="ProdKeywords" class="form-control" maxlength="255" aria-required="true">
                                                            <span asp-validation-for="ProdKeywords" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-products-meta_title required">
                                                            <label class="control-label" asp-for="ProdMetaTitle"></label>
                                                            <input type="text" asp-for="ProdMetaTitle" class="form-control" maxlength="255" aria-required="true">
                                                            <span asp-validation-for="ProdMetaTitle" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-products-meta_title required">
                                                            <label class="control-label" asp-for="ProdMetaDescription"></label>
                                                            <input type="text" asp-for="ProdMetaDescription" class="form-control" maxlength="255" aria-required="true">
                                                            <span asp-validation-for="ProdMetaDescription" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-products-meta_title required">
                                                            <label class="control-label" asp-for="ProdMetaKeyword"></label>
                                                            <input type="text" asp-for="ProdMetaKeyword" class="form-control" maxlength="255" aria-required="true">
                                                            <span asp-validation-for="ProdMetaKeyword" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-products-google_category">
                                                            <label class="control-label" asp-for="GoogleCateory">Google Category</label>
                                                            <input type="text" asp-for="GoogleCateory" class="form-control">
                                                            <span asp-validation-for="GoogleCateory" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-products-product_url">
                                                            <label class="control-label" for="products-product_url">Product Url</label>
                                                            <input type="text" id="products-product_url" class="form-control" name="Products[product_url]" maxlength="255" placeholder="Optional - Leave Empty if you want to auto generate">

                                                            <div class="help-block"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-products-status required has-error">
                                                            <label class="control-label" asp-for="Status"></label>
                                                            <select asp-for="Status" class="form-control" aria-required="true" aria-invalid="true">
                                                                <option value="">Select Status</option>
                                                                <option value="true">Yes</option>
                                                                <option value="false">No</option>
                                                            </select>
                                                            <span asp-validation-for="Status" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-products-rank">
                                                            <label class="control-label" asp-for="Ranking">Rank</label>
                                                            <input type="number" asp-for="Ranking" class="form-control">
                                                            <span asp-validation-for="Ranking" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-products-category_id required has-success">
                                                            <label class="control-label" asp-for="CategoryId">Category ID</label>
                                                            @{
                                                                SelectList SL = new SelectList(ViewBag.cateorylist, "Id", "CatName");
                                                            }
                                                            @Html.DropDownList("CategoryId", SL, "Select Category", new { @class = "form-control select2" })

                                                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-products-ishome required">
                                                            <label class="control-label" asp-for="IsFeature"></label>
                                                            <select asp-for="IsFeature" class="form-control" aria-required="true">
                                                                <option value="true">Yes</option>
                                                                <option value="false">No</option>
                                                            </select>
                                                            <span asp-validation-for="IsFeature" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-products-isfeature required has-error">
                                                            <label class="control-label" asp-for="IsSpecial"></label>
                                                            <select asp-for="IsSpecial" class="form-control" aria-required="true" aria-invalid="true">
                                                                <option value="true">Yes</option>
                                                                <option value="false">No</option>
                                                            </select>
                                                            <span asp-validation-for="IsSpecial" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-products-feature_image">
                                                            <label class="control-label" asp-for="ProdFeatureImg">Feature Image</label>
                                                            <input type="file" name="FeaturedImage" id="FeaturedImage">
                                                            <span asp-validation-for="ProdFeatureImg" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group field-products-feature_image">
                                                            <label class="control-label" asp-for="ProPic2">Product Image 2</label>
                                                            <input type="file" name="ProPic2" id="ProPic2">
                                                            <span asp-validation-for="ProPic2" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>



                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="tab_2">
                                        <h4>Image Gallery</h4>
                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="form-group field-products-feature_image">
                                                        <label class="control-label">Product Gallery</label>
                                                        <input type="file" multiple="multiple" name="ProdGallery" id="ProdGallery">
                                                        <span class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <button class="btn btn-success btn-lg fa fa-plus"> Add Files</button>
                                            <button class="btn btn-primary btn-lg fa fa-upload"> Start Upload</button>
                                            <button class="btn btn-warning btn-lg fa fa-ban"> Cancel Upload </button>
                                            <button class="btn btn-danger btn-lg fa fa-trash"> Delete</button>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="tab_3">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                        It has survived not only five centuries, but also the leap into electronic typesetting,
                                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                                        like Aldus PageMaker including versions of Lorem Ipsum.
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- nav-tabs-custom -->
                        </form>
                    </div>
                    <!-- /.col -->



                </div>
            </div>
        </div>

    </div>
</section>



<div>
    <a asp-action="IndexProduct">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!-- Select2 -->
    <script src="~/Dashboard/bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- CK Editor -->
    <script src="~/Dashboard/bower_components/ckeditor/ckeditor.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Dashboard/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script>
        $(function () {
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace('ProdShortDetail')
            CKEDITOR.replace('ProdDetail')
            //bootstrap WYSIHTML5 - text editor
            $('.textarea').wysihtml5()


        })
    </script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

        });
    </script>
}