
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}


<div class="tm-top-a-box tm-full-width  ">
    <div class="uk-container uk-container-center">
        <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

            <div class="uk-width-1-1">
                <div class="uk-panel">
                    <div class="akslider-module ">
                        <div class="uk-slidenav-position" data-uk-slideshow="{height: 'auto', animation: 'swipe', duration: '500', autoplay: false, autoplayInterval: '7000', videoautoplay: true, videomute: true, kenburns: false}">
                            <ul class="uk-slideshow uk-overlay-active">
                                <li aria-hidden="false" class="uk-height-viewport uk-active">
                                    <div style="background-image: url(~/Web/images/main-slider-img.jpg);" class="uk-cover-background uk-position-cover"></div><img style="width: 100%; height: auto; opacity: 0;" class="uk-invisible" src="~/Web/images/main-slider-img.jpg" alt="">
                                    <div class="uk-position-cover uk-flex-middle">
                                        <div class="uk-container uk-container-center uk-position-cover">
                                            <div class="va-promo-text uk-width-6-10 uk-push-4-10">
                                                <h3>Life is <span>about timing</span></h3>
                                                <div class="promo-sub">Just play. <span>Have fun.</span> Enjoy the game</div>
                                                <a href="#" class="read-more">Read More<i class="uk-icon-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li aria-hidden="true" class="uk-height-viewport">
                                    <div style="background-image: url(~/Web/images/main-slider-img1.html);" class="uk-cover-background uk-position-cover"></div><img style="width: 100%; height: auto; opacity: 0;" class="uk-invisible" src="~/Web/images/main-slider-img1.jpg" alt="">
                                    <div class="uk-position-cover uk-flex-middle">
                                        <div class="uk-container uk-container-center uk-position-cover">
                                            <div class="va-promo-text uk-width-6-10 uk-push-4-10">
                                                <h3>Just play.<span>Have fun.</span></h3>
                                                <div class="promo-sub">Life is <span>about timing</span> Enjoy the game</div>
                                                <a href="#" class="read-more">Read More<i class="uk-icon-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li aria-hidden="true" class="uk-height-viewport">
                                    <div style="background-image: url(~/Web/images/main-slider-img2.html);" class="uk-cover-background uk-position-cover"></div><img style="width: 100%; height: auto; opacity: 0;" class="uk-invisible" src="~/Web/images/main-slider-img2.jpg" alt="">
                                    <div class="uk-position-cover uk-flex-middle">
                                        <div class="uk-container uk-container-center uk-position-cover">
                                            <div class="va-promo-text uk-width-6-10 uk-push-4-10">
                                                <h3>Life is <span>about timing</span></h3>
                                                <div class="promo-sub">Just play. <span>Have fun.</span> Enjoy the game</div>
                                                <a href="#" class="read-more">Read More<i class="uk-icon-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <a href="http://h-sportak.torbara.com/" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                            <a href="http://h-sportak.torbara.com/" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
                            <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-text-center">
                                <li class="uk-active" data-uk-slideshow-item="0">
                                    <a href="http://h-sportak.torbara.com/">0</a>
                                </li>
                                <li data-uk-slideshow-item="1">
                                    <a href="http://h-sportak.torbara.com/">1</a>
                                </li>
                                <li data-uk-slideshow-item="2">
                                    <a href="http://h-sportak.torbara.com/">2</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="tm-bottom-b-box tm-full-width  ">
    <div class="uk-container uk-container-center">
        <section id="tm-bottom-b" class="tm-bottom-b uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
            <div class="uk-width-1-1">
                <div class="uk-panel">
                    <div class="">
                        <div class="uk-container uk-container-center">
                            <div class="uk-grid" data-uk-grid-match="">
                                <div class="uk-width-medium-8-10 uk-width-small-1-1 uk-push-1-10">
                                    <div class="our-team-wrap">
                                        <div class="our-team-title">
                                            <h3>Our <span>Categories</span></h3>
                                        </div>
                                        <div class="our-team-text">
                                            <p>Nullam quis eros tellus. Duis sit amet neque nec orci feugiat tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed turpis aliquet, pharetra enim sit amet, congue erat.</p>
                                        </div>
                                        <div class="our-team-text additional">
                                            <p>Cras convallis feugiat felis eget venenatis. Sed leo tellus, luctus eget ante quis, rutrum dignissim enim. Morbi efficitur tellus non mauris tincidunt feugiat. Vestibulum quis nunc in nibh eleifend convallis. Vestibulum nec viverra dui. Suspendisse vel neque eros. Donec tincidunt tempus massa sed vehicula. Integer ullamcorper at elit eu commodo.</p>
                                        </div>
                                        <div class="team-read-wrap">
                                            <a class="team-read-more" href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>


                                <div class=" uk-width-large-1-4 uk-width-medium-1-3 uk-width-small-1-2 player-item tt_22c19cd174143e3b4c7ef40ae23c5d1a">
                                    <div class="player-article">
                                        <div class="wrapper">
                                            <div class="img-wrap">
                                                <div class="player-number">
                                                    <span>47 </span>
                                                </div>
                                                <div class="bio">
                                                    <span><a href="player.html">bio</a></span>
                                                </div>
                                                <a href="player.html">
                                                    <img src="~/Web/images/70d6fcd7a5ed8edc8acc6b52c76d7ff4.jpg" class="img-polaroid" alt="Joe Perez" title="Joe Perez">
                                                </a>
                                                <ul class="socials">
                                                    <li class="twitter">
                                                        <a href="http://twitter.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="facebook">
                                                        <a href="http://facebook.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="google-plus">
                                                        <a href="https://plus.google.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="pinterest">
                                                        <a href="https://www.pinterest.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="linkedin">
                                                        <a href="https://www.linkedin.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="info">
                                                <div class="name">
                                                    <h3>
                                                        <a href="player.html">Joe Perez </a>
                                                    </h3>
                                                </div>
                                                <div class="position">STRIKER </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class=" uk-width-large-1-4 uk-width-medium-1-3 uk-width-small-1-2 player-item tt_4d957768dcc72908ab3b9e28dc867052">
                                    <div class="player-article">
                                        <div class="wrapper">
                                            <div class="img-wrap">
                                                <div class="player-number">
                                                    <span>23 </span>
                                                </div>
                                                <div class="bio">
                                                    <span><a href="player.html">bio</a></span>
                                                </div>
                                                <a href="player.html">
                                                    <img src="~/Web/images/450032a6f795065465ebb3d698d74294.jpg" class="img-polaroid" alt="Bobby Guerrero" title="Bobby Guerrero">
                                                </a>
                                                <ul class="socials">
                                                    <li class="twitter">
                                                        <a href="http://twitter.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="facebook">
                                                        <a href="http://facebook.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="google-plus">
                                                        <a href="https://plus.google.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="pinterest">
                                                        <a href="https://www.pinterest.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="linkedin">
                                                        <a href="https://www.linkedin.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="info">
                                                <div class="name">
                                                    <h3>
                                                        <a href="player.html">Bobby Guerrero  </a>
                                                    </h3>
                                                </div>
                                                <div class="position">MIDFIELDER </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class=" uk-width-large-1-4 uk-width-medium-1-3 uk-width-small-1-2 player-item tt_2a195f12da9f3f36da06e6097be7e451">
                                    <div class="player-article">
                                        <div class="wrapper">
                                            <div class="img-wrap">
                                                <div class="player-number">
                                                    <span>14 </span>
                                                </div>
                                                <div class="bio">
                                                    <span><a href="player.html">bio</a></span>
                                                </div>
                                                <a href="player.html">
                                                    <img src="~/Web/images/a0cd8e2687c86ec4810f4adec5724bba.jpg" class="img-polaroid" alt="Douglas Pain" title="Douglas Pain">
                                                </a>
                                                <ul class="socials">
                                                    <li class="twitter">
                                                        <a href="http://twitter.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="facebook">
                                                        <a href="http://facebook.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="info">
                                                <div class="name">
                                                    <h3>
                                                        <a href="player.html">Douglas Pain </a>
                                                    </h3>
                                                </div>
                                                <div class="position">DEFENDER </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class=" uk-width-large-1-4 uk-width-medium-1-3 uk-width-small-1-2 player-item tt_22c19cd174143e3b4c7ef40ae23c5d1a">
                                    <div class="player-article">
                                        <div class="wrapper">
                                            <div class="img-wrap">
                                                <div class="player-number">
                                                    <span>36 </span>
                                                </div>
                                                <div class="bio">
                                                    <span><a href="player.html">bio</a></span>
                                                </div>
                                                <a href="player.html">
                                                    <img src="~/Web/images/8a3d3554567e4859f88a93ac59e1eadc.jpg" class="img-polaroid" alt="Christopher Herrera" title="Christopher Herrera">
                                                </a>
                                                <ul class="socials">
                                                    <li class="twitter">
                                                        <a href="http://twitter.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="facebook">
                                                        <a href="http://facebook.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="google-plus">
                                                        <a href="https://plus.google.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="pinterest">
                                                        <a href="https://www.pinterest.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="linkedin">
                                                        <a href="https://www.linkedin.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="info">
                                                <div class="name">
                                                    <h3>
                                                        <a href="player.html">Christopher Herrera</a>
                                                    </h3>
                                                </div>
                                                <div class="position">STRIKER </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" uk-width-large-1-4 uk-width-medium-1-3 uk-width-small-1-2 player-item tt_22c19cd174143e3b4c7ef40ae23c5d1a">
                                    <div class="player-article">
                                        <div class="wrapper">
                                            <div class="img-wrap">
                                                <div class="player-number">
                                                    <span>36 </span>
                                                </div>
                                                <div class="bio">
                                                    <span><a href="player.html">bio</a></span>
                                                </div>
                                                <a href="player.html">
                                                    <img src="~/Web/images/8a3d3554567e4859f88a93ac59e1eadc.jpg" class="img-polaroid" alt="Christopher Herrera" title="Christopher Herrera">
                                                </a>
                                                <ul class="socials">
                                                    <li class="twitter">
                                                        <a href="http://twitter.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="facebook">
                                                        <a href="http://facebook.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="google-plus">
                                                        <a href="https://plus.google.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="pinterest">
                                                        <a href="https://www.pinterest.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                    <li class="linkedin">
                                                        <a href="https://www.linkedin.com/" target="_blank" rel="nofollow">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="info">
                                                <div class="name">
                                                    <h3>
                                                        <a href="player.html">Christopher Herrera</a>
                                                    </h3>
                                                </div>
                                                <div class="position">STRIKER </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="our-team-btn">
                            <a href="players.html"><span>More Info</span></a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>




<div class="tm-top-g-box tm-full-width  ">
    <div class="uk-container uk-container-center">
        <section id="tm-top-g" class="tm-top-g uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
            <div class="uk-width-1-1">
                <div class="uk-panel">

                    <div class="gallery-title">
                        <div class="uk-container uk-container-center tt-gallery-top-main">
                            <div class="uk-grid" data-uk-grid-match="">
                                <div class="uk-width-3-10 title">Gallery</div>
                                <div class="uk-width-7-10 text">Nullam quis eros tellus. Duis sit amet neque nec orci feugiat tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed turpis aliquet, pharetra enim sit amet, congue erat. </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-sticky-placeholder">
                        <div style="margin: 0px;" class="button-group filter-button-group" data-uk-sticky="{top:70, boundary: true}">
                            <div class="uk-container uk-container-center">
                                <button class="active" data-filter="*">all</button>
                                <button data-filter=".tt_c26e2589e25045ad516b5bc37d18523a">Volleyball</button>
                                <button data-filter=".tt_6081becaf04f5a1455407d73e09bca13">Hockey</button>
                                <button data-filter=".tt_c71a18083d9e74b4a5c5d8d9a17d68d0">Basketball</button>
                                <button data-filter=".tt_449a5f6d01d5f416810d04b4df596b6a">Football</button>
                                <button data-filter=".tt_ea9d8d12fefde9e2f9c4631a76504ce7">Rugby</button>
                            </div>
                        </div>
                    </div>

                    <div id="boundary">

                        <div class="uk-grid uk-grid-collapse grid" data-uk-grid-match="">


                            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 grid-item article-slider tt_c26e2589e25045ad516b5bc37d18523a ">
                                <div class="uk-slidenav-position" data-uk-slideshow="{height:300}">
                                    <ul class="uk-slideshow">
                                        <li class="uk-active" aria-hidden="false">
                                            <div style="background-image: url(~/Web/images/1448838000_1662651f7f781a887707a2836033aa63.jpg);" class="uk-cover-background uk-position-cover"></div>
                                            <img style="width: 100%; height: auto; opacity: 0;" class="uk-responsive-height" src="~/Web/images/1448838000_1662651f7f781a887707a2836033aa63.jpg" alt="">
                                            <div class="titles">
                                                <div class="sub-title">
                                                    Donec vel orci sed leo semper viverra
                                                </div>
                                            </div>
                                        </li>
                                        <li aria-hidden="true">
                                            <div style="background-image: url(~/Web/images/1448838000_7e2a4fc5579be1e525f7b338af8bcc4e.jpg);" class="uk-cover-background uk-position-cover"></div>
                                            <img style="width: 100%; height: auto; opacity: 0;" class="uk-responsive-height" src="~/Web/images/1448838000_7e2a4fc5579be1e525f7b338af8bcc4e.jpg" alt="">
                                            <div class="titles">
                                                <div class="sub-title">
                                                    Donec vel orci sed leo semper viverra
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="article-slider-btn">
                                        <a href="http://h-sportak.torbara.com/" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                                        <a href="http://h-sportak.torbara.com/" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 grid-item tt_c26e2589e25045ad516b5bc37d18523a ">
                                <div class="gallery-album">
                                    <a href="~/Web/images/03f1869954e6e557b8ac56b508030a3b.jpg" data-uk-lightbox="{group:'my-group'}" class="img-0">
                                        <img src="~/Web/images/03f1869954e6e557b8ac56b508030a3b.jpg" alt="">
                                    </a>
                                    <a href="~/Web/images/6a987145d42263cbfc9724ee737b1d60.jpg" data-uk-lightbox="{group:'my-group'}" class="img-1">
                                        <img src="~/Web/images/6a987145d42263cbfc9724ee737b1d60.jpg" alt="">
                                    </a>
                                    <div class="titles">
                                        <div class="title">Douglas Payne </div>
                                        <div class="sub-title">Volleyball </div>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 grid-item tt_6081becaf04f5a1455407d73e09bca13 ">
                                <div class="gallery-album">
                                    <a href="~/Web/images/8cc1994dde069571bfe5edf1e7822185.jpg" data-uk-lightbox="{group:'my-group1'}" class="img-0">
                                        <img src="~/Web/images/8cc1994dde069571bfe5edf1e7822185.jpg" alt="">
                                    </a>
                                    <a href="~/Web/images/133dc45d6c6a6ee8ace3fd6c18f0c79e.jpg" data-uk-lightbox="{group:'my-group1'}" class="img-1">
                                        <img src="~/Web/images/133dc45d6c6a6ee8ace3fd6c18f0c79e.jpg" alt="">
                                    </a>
                                    <div class="titles">
                                        <div class="title">Douglas Payne </div>
                                        <div class="sub-title">Hockey </div>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 grid-item tt_6081becaf04f5a1455407d73e09bca13 ">
                                <div class="gallery-album">
                                    <a href="~/Web/images/62448a01125cebccfa3512491a345da9.jpg" data-uk-lightbox="{group:'my-group2'}" class="img-0">
                                        <img src="~/Web/images/62448a01125cebccfa3512491a345da9.jpg" alt="">
                                    </a>
                                    <a href="~/Web/images/14f0c92ade7d754a98d2b6ddd4fe560a.jpg" data-uk-lightbox="{group:'my-group2'}" class="img-1">
                                        <img src="~/Web/images/14f0c92ade7d754a98d2b6ddd4fe560a.jpg" alt="">
                                    </a>
                                    <div class="titles">
                                        <div class="title">Douglas Payne </div>
                                        <div class="sub-title">Hockey </div>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 grid-item tt_c71a18083d9e74b4a5c5d8d9a17d68d0 ">
                                <div class="gallery-album">
                                    <a href="~/Web/images/c9e61645f3f740197afa7fb17bf3d3ad.jpg" data-uk-lightbox="{group:'my-group3'}" class="img-0">
                                        <img src="~/Web/images/c9e61645f3f740197afa7fb17bf3d3ad.jpg" alt="">
                                    </a>
                                    <a href="~/Web/images/a46d465cb53412b43c73d9c793083875.jpg" data-uk-lightbox="{group:'my-group3'}" class="img-1">
                                        <img src="~/Web/images/a46d465cb53412b43c73d9c793083875.jpg" alt="">
                                    </a>
                                    <div class="titles">
                                        <div class="title">Douglas Payne </div>
                                        <div class="sub-title">Basketball </div>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 grid-item tt_c71a18083d9e74b4a5c5d8d9a17d68d0 ">
                                <div class="gallery-album">
                                    <a href="~/Web/images/d5d9d0e4068673aee603250d1eb43af8.jpg" data-uk-lightbox="{group:'my-group4'}" class="img-0">
                                        <img src="~/Web/images/d5d9d0e4068673aee603250d1eb43af8.jpg" alt="">
                                    </a>
                                    <a href="~/Web/images/6479eff8244e3eeb793efa29559f45f7.png" data-uk-lightbox="{group:'my-group4'}" class="img-1">
                                        <img src="~/Web/images/6479eff8244e3eeb793efa29559f45f7.png" alt="">
                                    </a>
                                    <div class="titles">
                                        <div class="title">Douglas Payne </div>
                                        <div class="sub-title">Basketball </div>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 grid-item tt_449a5f6d01d5f416810d04b4df596b6a tt_c71a18083d9e74b4a5c5d8d9a17d68d0 tt_ea9d8d12fefde9e2f9c4631a76504ce7 ">
                                <div class="gallery-album">
                                    <a href="~/Web/images/49633121e88e2125a7069937885d5163.jpg" data-uk-lightbox="{group:'my-group5'}" class="img-0">
                                        <img src="~/Web/images/49633121e88e2125a7069937885d5163.jpg" alt="">
                                    </a>
                                    <a href="~/Web/images/4510067e63319389d8587e2cb12d4346.jpg" data-uk-lightbox="{group:'my-group5'}" class="img-1">
                                        <img src="~/Web/images/4510067e63319389d8587e2cb12d4346.jpg" alt="">
                                    </a>
                                    <div class="titles">
                                        <div class="title">Douglas Payne </div>
                                        <div class="sub-title">Douglas Payne </div>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 grid-item tt_c26e2589e25045ad516b5bc37d18523a ">
                                <div class="gallery-album">
                                    <a href="~/Web/images/fb04791e435ada34da98c5ca40642149.jpg" data-uk-lightbox="{group:'my-group6'}" class="img-0">
                                        <img src="~/Web/images/fb04791e435ada34da98c5ca40642149.jpg" alt="">
                                    </a>
                                    <a href="~/Web/images/20e17d247276908ce9c879c785afad72.jpg" data-uk-lightbox="{group:'my-group6'}" class="img-1">
                                        <img src="~/Web/images/20e17d247276908ce9c879c785afad72.jpg" alt="">
                                    </a>
                                    <div class="titles">
                                        <div class="title">Douglas Payne </div>
                                        <div class="sub-title">Douglas Payne </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>

<div class="tm-bottom-a-box tm-full-width  ">
    <div class="uk-container uk-container-center">
        <section id="tm-bottom-a" class="tm-bottom-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
            <div class="uk-width-1-1">
                <div class="uk-panel tt-achievments-wrap">
                    <div class="uk-grid uk-grid-collapse">
                        <div class="uk-width-large-4-10 uk-width-medium-1-1 achievments-block">
                            <div class="our-awards-main-wrap">
                                <div class="uk-slidenav-position our-awards" data-uk-slider="{autoplay:true, autoplayInterval:7000}">
                                    <div class="our-awards-main-title">
                                        <h2>Our <span>Awards</span></h2>
                                        <div class="our-awards-btn">
                                            <a draggable="false" href="http://h-sportak.torbara.com/" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous"></a>
                                            <a draggable="false" href="http://h-sportak.torbara.com/" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next"></a>
                                        </div>
                                    </div>
                                    <div class="uk-slider-container">
                                        <ul class="uk-slider uk-grid uk-grid-width-large-1-2">
                                            <li>
                                                <div class="img-wrap">
                                                    <img draggable="false" src="~/Web/images/award-img.png" alt="">
                                                </div>
                                                <div class="text">2014 world cup champion</div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <img draggable="false" src="~/Web/images/award-img1.png" alt="">
                                                </div>
                                                <div class="text">2014 world cup champion</div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <img draggable="false" src="~/Web/images/award-img2.png" alt="">
                                                </div>
                                                <div class="text">2014 world cup champion</div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <img draggable="false" src="~/Web/images/award-img3.png" alt="">
                                                </div>
                                                <div class="text">2014 world cup champion</div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <img draggable="false" src="~/Web/images/award-img4.png" alt="">
                                                </div>
                                                <div class="text">2014 world cup champion</div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <img draggable="false" src="~/Web/images/award-img5.png" alt="">
                                                </div>
                                                <div class="text">2014 world cup champion</div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <img draggable="false" src="~/Web/images/award-img3.png" alt="">
                                                </div>
                                                <div class="text">2014 world cup champion</div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <img draggable="false" src="~/Web/images/award-img.png" alt="">
                                                </div>
                                                <div class="text">2014 world cup champion</div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <img draggable="false" src="~/Web/images/award-img1.png" alt="">
                                                </div>
                                                <div class="text">2014 world cup champion</div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <img draggable="false" src="~/Web/images/award-img2.png" alt="">
                                                </div>
                                                <div class="text">2014 world cup champion</div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <img draggable="false" src="~/Web/images/award-img3.png" alt="">
                                                </div>
                                                <div class="text">2014 world cup champion</div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <img draggable="false" src="~/Web/images/award-img4.png" alt="">
                                                </div>
                                                <div class="text">2014 world cup champion</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-large-5-10 uk-width-medium-1-1 achievments-block uk-push-1-10">
                            <div class="achievments-inner">
                                <div class="our-awards-main-title">
                                    <h2>achievements</h2>
                                </div>
                                <div class="uk-grid">
                                    <div class="uk-width-large-2-4 uk-width-medium-1-2 uk-width-small-1-2">
                                        <div class="item">
                                            <div class="icon">
                                                <img src="~/Web/images/stat-icon.png" alt="">
                                            </div>
                                            <div class="info">
                                                <div class="number">35</div>
                                                <div class="text">goals</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-large-2-4 uk-width-medium-1-2 uk-width-small-1-2">
                                        <div class="item">
                                            <div class="icon">
                                                <img src="~/Web/images/stat-icon1.png" alt="">
                                            </div>
                                            <div class="info">
                                                <div class="number">12</div>
                                                <div class="text">games played</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-large-2-4 uk-width-medium-1-2 uk-width-small-1-2">
                                        <div class="item">
                                            <div class="icon">
                                                <img src="images/stat-icon2.png" alt="">
                                            </div>
                                            <div class="info">
                                                <div class="number">13</div>
                                                <div class="text">violations</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-large-2-4 uk-width-medium-1-2 uk-width-small-1-2">
                                        <div class="item">
                                            <div class="icon">
                                                <img src="images/stat-icon3.png" alt="">
                                            </div>
                                            <div class="info">
                                                <div class="number">8</div>
                                                <div class="text">Awards</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="tm-bottom-c-box tm-full-width  ">
    <div class="uk-container uk-container-center">
        <section id="tm-bottom-c" class="tm-bottom-c uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

            <div class="uk-width-1-1">
                <div class="uk-panel">
                    <div class="shop-main-page-wrap">
                        <div class="container uk-container-center">
                            <div class="uk-grid">
                                <div class="uk-width-1-1">
                                    <div class="shop-title">
                                        <h2>Fun <span>Shop</span></h2>
                                    </div>
                                </div>
                                <div class="uk-width-medium-8-10 uk-width-small-1-1 uk-push-1-10">
                                    <div class="shop-text">Nullam quis eros tellus. Duis sit amet neque nec orci feugiat tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed turpis aliquet, pharetra enim sit amet, congue erat. </div>
                                </div>
                                <div class="uk-width-1-1 uk-text-center">
                                    <div class="sale-proposal">Save <span>33% OFF</span> for all new orders</div>
                                </div>
                            </div>
                        </div>
                        <div class="latest_products jshop">

                            <div data-uk-slider="{center:true, autoplay:true, pauseOnHover:true, autoplayInterval:5000}">

                                <div class="uk-slider-container">
                                    <ul class="uk-slider uk-grid-width-large-1-6 uk-grid-width-medium-1-4 uk-grid-width-small-1-1  uk-grid uk-grid-medium">

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_Jacket31.jpg" alt="Sportswear outerwear coats">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">Sportswear outerwear coats</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$100</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$151</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_Jacket31.jpg" alt="Sportswear outerwear coats">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">Sportswear outerwear coats</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$100</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$151</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_jacket24.jpg" alt="Waterproof jackets">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">Waterproof jackets</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$200</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$120</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_jacket241.jpg" alt="Waterproof jackets">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">Waterproof jackets</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$200</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$120</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_jacket71.jpg" alt="Thermoball Insulated Jacket">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">Thermoball Insulated Jacket</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$100</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$78</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_jacket711.jpg" alt="Thermoball Insulated Jacket">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">Thermoball Insulated Jacket</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$100</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$78</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_cross142.jpg" alt="High Quality Running Shoes For Women">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">High Quality Running Shoes For Women</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$400</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$350</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_cross121.jpg" alt="High Quality Running Shoes For Women">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">High Quality Running Shoes For Women</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$400</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$350</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item uk-active">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_cross131.jpg" alt="High Quality Running Shoes For Woman">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">High Quality Running Shoes For Woman</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$300</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$250</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_cross111.jpg" alt="High Quality Running Shoes For Women">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">High Quality Running Shoes For Women</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$400</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$350</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="~/Web/images/img_products/index.html">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_cross102.jpg" alt="High Quality Running Shoes For Woman">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">High Quality Running Shoes For Woman</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$300</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$250</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_cross91.jpg" alt="High Quality Running Shoes For Men">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">High Quality Running Shoes For Men</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$400</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$350</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_cross81.jpg" alt="High Quality Running Shoes For Woman">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">High Quality Running Shoes For Woman</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$190</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$200</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_cross51.jpg" alt="High Quality Running Shoes For Woman">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">High Quality Running Shoes For  Woman</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$190</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$200</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_cross61.jpg" alt="High Quality Running Shoes For Men">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">High Quality Running Shoes For Men</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$200</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$280</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_100-original-New-2015-cross41.jpg" alt="High Quality Running Shoes For Men">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">High Quality Running Shoes For Men</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$250</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$200</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_cross32.jpg" alt="High Quality Running Shoes For Men">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">High Quality Running Shoes For Men</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$190</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$250</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_cross22.jpg" alt="High Quality Running Shoes For Men">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">High Quality Running Shoes For Men</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$190</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$150</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_cross23.jpg" alt="High Quality Running Shoes For Men">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">High Quality Running Shoes For Men</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$250</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$200</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                        <li class="block_item">

                                            <div class="image">
                                                <div class="image_block">
                                                    <a draggable="false" href="product.html">
                                                        <img draggable="false" class="jshop_img" src="~/Web/images/img_products/thumb_jacket63.jpg" alt="High-quality Men's Sport Suit">
                                                    </a>
                                                </div>
                                                <div class="name">
                                                    <a draggable="false" href="product.html">High-quality Men's Sport Suit</a>
                                                </div>
                                            </div>
                                            <div class="actions-wrap">
                                                <div class="price-wrap">
                                                    <div class="old_price">
                                                        <span>$200</span>
                                                    </div>

                                                    <div class="jshop_price">
                                                        <span>$120</span>
                                                    </div>
                                                </div>

                                                <div class="buttons">
                                                    <a draggable="false" class="button_buy" href="#">Buy</a>
                                                </div>

                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="fun-shop-btn">
                            <a href="category.html"><span>View all</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



<div class="tm-top-c-box tm-full-width  home-about">
    <div class="uk-container uk-container-center">
        <section id="tm-top-c" class="tm-top-c uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

            <div class="uk-width-1-1 uk-width-large-1-2">
                <div class="uk-panel">
                    <div class="va-about-wrap clearfix uk-cover-background uk-position-relative">
                        <div class="va-about-text">
                            <div class="title">
                                OUR <span>TEAM</span>
                            </div>
                            <p>Nam quis purus sed est interdum sagittis sed in leo. Nunc feugiat enim nunc, sit amet placerat erat consectetur in. Cras consequat enim nunc, sit amet venenatis massa volutpat ut. Cras vitae facilisis nulla. </p>
                            <p>Nulla pharetra lobortis nisl, vitae pretium nunc congue eget. Nunc imperdiet consequat nibh pharetra venenatis. Duis vitae lacinia nibh, et egestas leo. Proin sed mi sit amet dolor rhoncus tristique. Maecenas rhoncus felis vel congue commodo.</p>
                            @*<a class="read-more" href="about.html">read more</a>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-1 uk-width-large-1-2">
                <div style="min-height: 497px;" class="uk-panel">
                    <div class="trainers-module tm-trainers-slider ">
                        <div class="trainer-wrapper">
                            <div data-uk-slideset="{default: 1, animation: 'fade', duration: 400}">
                                <div class="trainer-top">
                                    <div class="trainers-btn">
                                        <a href="http://h-sportak.torbara.com/" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideset-item="previous"></a>
                                        <a href="http://h-sportak.torbara.com/" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideset-item="next"></a>
                                    </div>
                                    <h3>Trainers</h3>
                                </div>
                                <ul class="uk-grid uk-slideset uk-grid-width-1-1">
                                    <li class="uk-active" style="">
                                        <div class="img-wrap">
                                            <img src="~/Web/images/trainer-slider/trainer-img.jpg" alt="">
                                        </div>
                                        <div class="name">
                                            Bernard <span>Fernandez</span>
                                        </div>
                                    </li>
                                    <li style="display: none;">
                                        <div class="img-wrap">
                                            <img src="~/Web/images/trainer-slider/trainer-img1.jpg" alt="">
                                        </div>
                                        <div class="name">
                                            Fernand <span>Bernardez</span>
                                        </div>
                                    </li>
                                    <li style="display: none;">
                                        <div class="img-wrap">
                                            <img src="~/Web/images/trainer-slider/trainer-img2.jpg" alt="">
                                        </div>
                                        <div class="name">
                                            Martin <span>Huanez</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="tm-bottom-d-box tm-full-width  ">
    <div class="uk-container uk-container-center">
        <section id="tm-bottom-d" class="tm-bottom-d uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
            <div class="uk-width-1-1">
                <div class="uk-panel">
                    <div class="last-video-wrap">
                        <div class="uk-container uk-container-center">
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-1">
                                    <div class="last-video-title">
                                        <h2>Last <span>Video</span></h2>
                                    </div>
                                </div>
                                <div class="uk-width-medium-8-10 uk-width-small-1-1 uk-push-1-10">
                                    <div class="last-video-text">
                                        Nullam quis eros tellus. Duis sit amet neque nec orci feugiat tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed turpis aliquet, pharetra enim sit amet, congue erat.
                                    </div>
                                </div>
                                <div class="uk-width-medium-8-10 uk-width-small-1-1 uk-push-1-10">
                                    <iframe src="https://www.youtube.com/embed/_u20ZIIxwuc?rel=0&amp;showinfo=0" allowfullscreen="" height="546" width="970"></iframe>
                                </div>
                                <div class="uk-width-medium-1-1 uk-width-small-1-1 partners-slider">
                                    <div data-uk-slideset="{small: 2, medium: 5, large: 5}">
                                        <div class="uk-slidenav-position">
                                            <ul class="uk-grid uk-slideset uk-grid-width-1-1 uk-grid-width-large-1-5 uk-grid-width-medium-1-5 uk-grid-width-small-1-2">
                                                <li>
                                                    <img src="~/Web/images/partners-img.png" alt="">
                                                </li>
                                                <li>
                                                    <img src="~/Web/images/partners-img1.png" alt="">
                                                </li>
                                                <li>
                                                    <img src="~/Web/images/partners-img2.png" alt="">
                                                </li>
                                                <li>
                                                    <img src="~/Web/images/partners-img3.png" alt="">
                                                </li>
                                                <li>
                                                    <img src="~/Web/images/partners-img4.png" alt="">
                                                </li>
                                                <li>
                                                    <img src="~/Web/images/partners-img.png" alt="">
                                                </li>
                                                <li>
                                                    <img src="images/partners-img1.png" alt="">
                                                </li>
                                                <li>
                                                    <img src="images/partners-img2.png" alt="">
                                                </li>
                                                <li>
                                                    <img src="images/partners-img3.png" alt="">
                                                </li>
                                                <li>
                                                    <img src="images/partners-img4.png" alt="">
                                                </li>
                                                <li>
                                                    <img src="images/partners-img.png" alt="">
                                                </li>
                                                <li>
                                                    <img src="images/partners-img1.png" alt="">
                                                </li>
                                                <li>
                                                    <img src="images/partners-img2.png" alt="">
                                                </li>
                                                <li>
                                                    <img src="images/partners-img3.png" alt="">
                                                </li>
                                                <li>
                                                    <img src="images/partners-img4.png" alt="">
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="uk-slideset-nav uk-dotnav uk-flex-center">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

